<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" />
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" href="/static/minuk_logo.png" type="image/png">
    <title>Minuk Ma's Resume</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/resume">Resume</a>
        <a href="/articles">Articles</a>
    </nav>

    <h1 data-aos="fade-in">Minuk Ma</h1>
    <h2 data-aos="fade-in">Contact</h2>
        <p data-aos="fade-in">Mobile: +82 10 8773 2396 </br>
        Email: minuk.ma@kaist.ac.kr </br>
        Address: 11, Yeoksam-ro 10-gil, Gangnam-gu, Seoul, Republic of Korea, 06250</p>
    <hr>
    
    <h2 data-aos="fade-in"># Research Interests</h2>
        <p data-aos="fade-in">Minuk Ma's research interests include Artificial Intelligence, Deep Learning, Computer Vision, and Natural Language Processing, with a focus on developing innovative solutions for real-world applications.</p>

    <hr>

    <h2 data-aos="fade-in"># Education</h2>
        <h3 data-aos="fade-in">Korea Advanced Institute of Science and Technology (KAIST) | Daejeon, Korea</h3>
            <h4 data-aos="fade-in">M.S. degree in Electrical Engineering (Advisor: Chang D. Yoo) | February 2020</h4>
            <p>Artificial Intelligence and Machine Learning Lab</p>
            <ul>
                <li>Researched on multi-modal AI, semantic segmentation, image-to-image translation, meta-learning, crowd counting, reinforcement learning, etc</li>
                <li>Contributed to seven publications (direct participation), including two CVPRs and one ECCV</li>
            </ul>
        <h3 data-aos="fade-in">Korea Advanced Institute of Science and Technology (KAIST) | Daejeon, Korea</h3>
            <h4>B.S degree in Electrical Engineering (Advisor: Jun Hyuk Kang)</h4>
            <h4>B.S degree in Computer Science (double major) | February 2018</h4>
    
    <hr>

    <h2 data-aos="fade-in"># Experience</h2>
        <h3 data-aos="fade-in">Lunit Inc. | Seoul, Korea</h3>
            <p><i>Research scientist, team leader of data-centric AI team</i> | March 2020—October 2022</p>
            <ul>
                <li>Developed medical AI models to profile digital pathology images for immunotherapy response prediction, antibody scoring (ex. HER2, PDL1, ER/PR, ..), and mutation prediction.</li>
                <li>Led data-centric approaches to reduce annotation cost and improve generalization of AI models.</li>
            </ul>
        <h3 data-aos="fade-in">Republic Of Korea Army Training Camp | Nonsan, Chungcheongnam-do, Korea</h3>
            <p><i>Private</i> | May 2022—May 2022</p>
            <ul>
                <li>Completed basic military training course required for all Korean men</li>
            </ul>
        <h3 data-aos="fade-in">Research Project, Samsung Electronics & AIM Lab | Daejeon, Korea</h3>
            <p><i>Researcher, Multi-Modal Video Question Answering</i> | March 2018—February 2020</p>
            <ul>
                <li>Developed multi-modal AI models that combine video and natural language information to perform various downstream tasks such as question answering and temporal moment localization.</li>
            </ul>
        <h3 data-aos="fade-in">CUOP Program, Ion-Communications | Seoul, Korea</h3>
            <p><i>Research Intern</i> | January 2017—March 2017</p>
            <ul>
                <li>Investigated the usage of Docker and and kubernates frameworks for web server deployment</li>
            </ul>
        <h3 data-aos="fade-in">Exchange Student Program, Tandon School of Engineering | NY, US</h3>
            <p><i>Student, Department of Computer Science</i> | February 2016—June 2016</p>
            <ul>
                <li>In NYU, developed a prototype of social reading platform using python and javascript</li>
            </ul>
        <h3 data-aos="fade-in">Naver D2 Startup Factory | Seoul, Korea</h3>
            <p><i>Researcher, Development of Smart Electric Skateboard</i> | June 2015—August 2015</p>
            <ul>
                <li>For 6 months, with the dream of startup company, developed electric skateboard that does
                    not require RC controllers with Arduino & pressure sensors (v1) and PCB & capacitive
                    sensors (v2), funded by Naver
                </li>
            </ul>

    <hr>

    <h2 data-aos="fade-in"># Patents</h2>
        <ul data-aos="fade-in">
            <li>Domain-Agnostic Few-Shot Facial Landmark Detection. P-18071 (Application)</li>
            <li>Method and system for training a machine learning model to detect abnormal regions in pathological slide images. KR: 10-2021-0120991 (Application)</li>
        </ul>
    <hr>

    <h2 data-aos="fade-in"># Publications in AI conferences/workshops</h2>
        <ul data-aos="fade-in"> <!-- I have included only a few publications here, but you can add the rest in the same format -->
            <li>C. Kang, C. Lee, H. Song, M. Ma, S. Pereira, Variability Matters : Evaluating interrater variability in histopathology for robust cell detection, European conference on computer vision, workshop on AI-Enabled Medical Image Analysis: Digital Pathology & Radiology/COVID19 (AIMIA) (ECCVW), 2022</li>
            <li>M. Ma*, S. Yoon, J. Kim, Chang D. Yoo, “VLANet: Video-Language Alignment Network for Weakly-Supervised Video Moment Retrieval, European conference on computer vision, Springer, 156-171 (ECCV), 2020</li>
            <li>J. Kim, M. Ma, T. Pham, K. Kim, Chang D. Yoo, “Modality Shifting Attention Network for Multi-modal Video Question Answering”, IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR), Seattle, WA, United States, 2020</li>
            <li>M. Ma, J. Kim, Chang D. Yoo, “DAFF: Domain-Agnostic Few-Shot Facial Landmark Detector By Learning Batch-Adaptive Spatial Transformer Networks”, The Institute of Electronics and Information Engineers (IEIE), Jeju, Korea, 2019</li>
            <li>J. Kim, M. Ma, K. Kim, S. Kim, Chang D. Yoo, “Progressive Attention Memory Network for Movie Story Question Answering”, IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR), Long Beach, CA, USA, 2019</li>
            <li>J. Kim*, Minuk Ma*, K. Kim, S. Kim, Chang D. Yoo, “Gaining Extra Supervision via Multi-task learning for Multi-Modal Video Question Answering”, International Joint Conference on Neural Networks (IJCNN), Budapest, Hungary, 2019</li>
            <li>K. Bae, M. Ma, H. Jang, M. Ju, H. Park, Chang D. Yoo, “ImaGAN: Unsupervised Training of Conditional Joint CycleGAN for Transferring Style with Core Structures in Content Preserved”, Asian Conference on Computer Vision (ACCV), Perth, Australia, 2018</li>
            <li>M. Ma*, H. Jang, M. Ju, Chang D. Yoo, “Playing Bi-Wheeled Robotic Soccer with Deep Q Learning Based on High-Level Action Modeling”, International Conference on Consumer Electronics (ICCE-ASIA), Jeju, Korea, 2018</li>
        </ul>


    <h2 data-aos="fade-in"># Publications in medical journals/abstracts</h2>
        <ul data-aos="fade-in"> <!-- I have included only a few publications here, but you can add the rest in the same format -->
                <li>S. Park, C. Ock, H. Kim, Pereira S, S. Park, M. Ma, S. Choi, S. Kim, S. Shin, J. Aum, K. Paeng, D. Yoo, H. Cha, S. Park, K. Suh, H. Jung, S. Kim, Y. Kim, J. Sun, J. Chung, J. Ahn, M. Ahn, J. Lee, K. Park, S. Song, Y. Bang, Y. Choi, T. Mok, S. Lee, “Artificial Intelligence-Powered Spatial Analysis of Tumor-Infiltrating Lymphocytes as Complementary Biomarker for Immune Checkpoint Inhibition in Non-Small-Cell Lung Cancer.” J Clin Oncol. 2022 Jun 10;40(17):1916-1928.</li>
                <li>S. Choi, S. Cho, M. Ma, S. Park, S. Pereira, J. Aum, S. Shin, K. Paeng, D. Yoo, W. Jung, C. Ock, S. Lee, Y. Choi, J. Chung, T. Mok, H. Kim, S. Kim, “Artificial intelligence-powered programmed death ligand 1 analyzer reduces interobserver variation in tumour proportion score for non-small cell lung cancer with better prediction of immunotherapy response”, European Journal of Cancer 170, 17-26, 2022</li>
                <li>H. Cho, S. Cho, S. Choi, W. Jung, J. Shin, G. Park, J. Moon, M. Ma, H. Song, M. Mostafavi, M. Kang, S. Pereira, K. Paeng, D. Yoo, C. Ock, S. Kim, “Artificial intelligence-powered whole-slide image analyzer reveals a distinctive distribution of tumor-infiltrating lymphocytes in neuroendocrine neoplasms”, Diagnostics 12(10), 2022</li>
                <li>S. Cho, W. Jung, S. Choi, S. Kim, S. Song, G. Park, M. Ma, S. Park, S. Pereira, S. Ahn, J. Aum, S. Shin, K. Paeng, D. Yoo, C. Ock, Abstract P4-05-07: “Assistance with an artificial intelligence-powered tumor infiltrating lymphocytes (TIL) analyzer reduces interobserver variation in pathologic scoring of TIL in breast cancer”, Cancer Res (2022) 82 (4_Supplement): P4-05-07.</li>
                <li>G. Park, S. Choi, S. Kim, S. Cho, W. Jung, J. Ryu, M. Ma, D. Yoo, K. Paeng, C. Ock, S. Song, H. Song, S. Pereira, S. Park, Abstract: “Artificial Intelligence-Powered Tumor Purity Assessment From H&E Whole Slide Images Correlates with Consensus Purity Estimation Based on Pathological Examination and Nextgeneration Sequencing”, USCAP 2022</li>
                <li>S. Kim, S. Choi, S. Cho, H. Kim, M. Ma, S. Pereira, S. Park, J. Aum, S. Shin, K. Paeng, D.Yoo, W. Jung, C. Ock, S. Lee, J. Chung, Y. Choi, Abstract: “Artificial Intelligence-PoweredAnalyzer Reduces Inter-observer Variation in PD-L1 Tumor Proportion Score of Non-Small Cell Lung Cancer”, USCAP 2022</li>
                <li>M. Jung, S. Song, S. Cho, W. Jung, C. Oum, H. Song, M. Ma, S. Park, S. Pereira, S. Song,
                    K. Paeng, D. Yoo, C. Ock, J. Sung, S. Kim, “Artificial intelligence-powered human epidermal
                    growth factor receptor 2 (her2) analyzer in breast cancer as an assistance tool for pathologists
                    to reduce interobserver variation. ”, Journal of Clinical Oncology 40(16_suppl), 2022</li>
                <li>H. Lee, S. Cho, E. Cho, Y. Lim, S. Cho, W. Jung, S. Song, M. Kang, J. Ryu, M. Ma,
                    S. Park, K. Paeng, C. Ock, S. Song, G. Gong, “Artificial intelligence (AI)-powered spatial
                    analysis of tumor-infiltrating lymphocytes (TIL) for prediction of response to neoadjuvant
                    chemotherapy (NAC) in triple-negative breast cancer (TNBC)”, Journal of Clinical Oncology
                    40(16_suppl) 595-595, 2022</li>
                <li>Y. Kim, I. Song, S. Cho, S. Kim, M. Kim, S. Ahn, H. Lee, D. Yang, N. Kim, S. Kim, T.
                    Kim, D. Kim, J. Choi, K. Lee, M. Ma, M. Jo, S. Park, G. Gong, “Diagnostic assessment of
                    deep learning algorithms for frozen tissue section analysis in women with breast cancer. ”, J
                    Korean Cancer Assoc 0(0), 2022</li>
                <li>H. Kim, S. Choi, S. Kim, J. Aum, S. Pereira, S. Park, M. Ma, S. Shin, K. Paeng, D.
                    Yoo, W. Jung, C. Ock, S. Lee, J. Chung, Y. Choi, T. Mok, “Clinical performance of artificial
                    intelligence-powered annotation of tumor cell pd-l1 expression for treatment of immunecheckpoint
                    inhibitor (ici) in advanced non-small cell lung cancer (nsclc)”, Journal of Clinical
                    Oncology 39(15_suppl) 9026-9026, 2021</li>
                <li>J. Park, K. Lee, E. Choi, W. Jung, J. Aum, S. Pereira, S. Park, M. Ma, S. Lee, E. Baek,
                    E. Roh, S. Shin, K. Paeng, D. Yoo, C. Ock, “Pathologic validation of artificial intelligencepowered
                    prediction of combined positive score of pd-l1 immunohistochemistry in urothelial
                    carcinoma”, Journal of Clinical Oncology 39(15_suppl), 2021</li>
                <li>Y. Choi, S. Park, S. Pereira, S. Park, M. Ma, J. Shin, J. Shin, K. Paeng, D. Yoo, C. Ock,
                    S. Lee, “Distinct subset of immune cells assessed by multiplex immunohistochemistry correlates
                    with immune phenotype classified by an artificial intelligence-powered tissue analyzer
                    in advanced non-small cell lung cancer”, Journal of Clinical Oncology 39(15_suppl), 2021</li>
                <li>C. Ock, S. Shin, W. Jung, S. Ahn, H. Kim, C. Lee, J. Aum, D. Tak, A. Ryu, T. Chung,
                    E. Baek, J. Shin, S. Lee, J. Shin, M. Ma, S. Park, S. Pereira, J. Kang, D. Yoo, K. Paeng,
                    “Artificial intelligence-powered spatial analysis of tumor infiltrating lymphocytes (til) to reflect
                    target gene expressions of novel immuno-oncology agents”, Journal of Clinical Oncology
                    39(15_suppl), 2021</li>
                <li>C. Park, Y. Lim, S. Song, S. Ahn, J. Ryu, H. Song, M. Ma, S. Park, S. Pereira, B.J. Aum, S.
                    Shin, S. Cho, K. Paeng, D. Yoo, W. Jung, C. Ock, Abstract : AI-powered whole-slide image
                    analysis of tumor-infiltrating lymphocytes for prediction of prognosis in colorectal cancer,
                    ESMO 2021</li>
                <li>S. Choi, S. Kim, H. Kim, S. Cho, M. Ma, S. Park, S. Pereira, B.J. Aum, S. Shin, K. Paeng,
                    D. Yoo, W. Jung, C. Ock, S. Lee, Y. Choi, J. Chung, T.S. Mok, Abstract : Assistance with an
                    artificial intelligence-powered PD-L1 analyzer reduces interobserver variation in pathologic
                    reading of tumor proportion score in non-small cell lung cancer, ESMO 2021</li>
                <li>C. Ock, S. Song, G. Park, C. Park, S. Cho, S. Shin, Y. Lim, W. Jung, H. Song, J. Ryu, M.
                    Ma, S. Park, S. Pereira, D. Yoo, K. Paeng, “Artificial intelligence-powered spatial analysis
                    of tumor-infiltrating lymphocytes reveals immune-excluded phenotype related to apobec signature
                    and clonal evolution of cancer”, Journal for ImmunoTherapy of Cancer 9(Suppl 2),
                    2021</li>
        </ul>

    <h2 data-aos="fade-in"># Contact Information</h2>
    <ul data-aos="fade-in">
        <li><strong>Email:</strong> <a href="">minuk.ma@kaist.ac.kr</a></li>
        <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/your_username" target="_blank">https://www.linkedin.com/in/your_username</a></li>
        <li><strong>Instagram:</strong> <a href="https://www.instagram.com/your_username" target="_blank">https://www.instagram.com/your_username</a></li>
    </ul>

    <script>
        document.querySelectorAll('li').forEach(function(li) {
            li.setAttribute('data-aos', 'fade-in');
        });
        document.querySelectorAll('p').forEach(function(p) {
            p.setAttribute('data-aos', 'fade-in');
        });
        document.querySelectorAll('h1').forEach(function(h1) {
            h1.setAttribute('data-aos', 'fade-in');
        });
        document.querySelectorAll('h2').forEach(function(h2) {
            h2.setAttribute('data-aos', 'fade-in');
        });
        document.querySelectorAll('h3').forEach(function(h3) {
            h3.setAttribute('data-aos', 'fade-in');
        });
        document.querySelectorAll('h4').forEach(function(h4) {
            h4.setAttribute('data-aos', 'fade-in');
        });

        AOS.init({
          duration: 1000, // duration of the animation
          easing: 'ease-out-back', // easing function to use
          once: true, // whether animation should happen only once - while scrolling down
          mirror: false // whether elements should animate out while scrolling past them
        });
    </script>

</body>
</html>
